.App {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin: auto;
}

form div {
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form select {
    padding: 0.5rem;
    width: 100%;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
