.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --bgColor: linear-gradient(90deg, #21252b, #e5e9ee);
    background: var(--bgColor);
    padding: 1rem;
    position: relative;
    height: 50px;

}

.navbar h1 {
    color: #f6f3f3;
}

.navhead {
    font-size: 30px;
    padding-left: 20px;
    color: #f9f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.listel {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: #f3f2ed;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
    padding-right: 30px;
}

.navbar a:hover {
    color: rgb(17, 17, 19);
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #2f2d2d;
    transition: .3s;
}

.navbar a:hover::before {
    width: 70%;
    background: #c7c5cd;
}